DATABASE_URL=file:./dev.db

# Find these in your Supabase project settings https://supabase.com/dashboard/project/_/settings/api
PUBLIC_SUPABASE_URL=
PUBLIC_SUPABASE_ANON_KEY=

PUBLIC_STRIPE_KEY=
SECRET_STRIPE_KEY=