.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
!.env.local.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
src/lib/db/prisma/dev.db
.vercel
/storybook-static